.form-layout{
    border-radius: 20px;

    width: 500px
}

input[type="search"] {
    border-radius: 20px;
    padding: 10px 10px;
    border: 1px solid #e9a0a0;
    width: 100%;
}

button {
    border-radius: 25px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}